body
{
  background-color:#ddf;
}
#dyntext
{
  width:400px;
}
.monkeythink
{
  background-image:url("/img/ChimpThinking.png");
  width:200px;
  height:286px;
  position:relative;
  float:left;
}
.monkeythink .jtextfill
{
  text-align:center;
  background-color:#fff;
  position:absolute;
  left:20px;
  top:30px;
  width:150px;
  height:70px;
}
.monkeythink .jtextfill span
{
  font-family: Times;
}
.computer
{
  background-image:url("/img/Computer2.png");
  width:450px;
  height:424px;
  position:relative;
  float:right;
}
.computer .jtextfill
{
  position:absolute;
  left:85px;
  top:70px;
  width:285px;
  height:210px;
  color:#88ff88;
}
.computer .jtextfill span
{
  font-family:OCR A Extended, OCRA;
}
.computerglare
{
  background-image:url("/img/ComputerGlare.png");
  width:450px;
  height:424px;
  position:absolute;
}
